.log-div {

	display: flex;
	font-family: 'Overpass Mono', monospace;
	justify-content: right;
	align-items: center;
	font-size: 1.2rem;
	text-transform: uppercase;

}

/* for top part */
.div-ele {
	margin-right: .5rem;
	text-align: center;
}

/* for bottom part */

.div-desc {
	display: block;
	font-family: 'Poppins', sans-serif;
	margin-right: .5rem;
	font-size: .8rem;
	align-items: center;
	text-align: center;


}

@media only screen and (max-width:580px) {

	.log-div {
		display: block;
		border-bottom: 1px solid black;
	}

}