.nav{
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.nav-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.logo-img{
    width:100px;
    height: 100px;
}
.brand-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
  }